body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #0073e6;
    padding: 30px;
    text-align: center;
    color: white;
}

.container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;
}

